In [2]:
import pandas as pd
import sklearn as sk
from sklearn.metrics import accuracy_score

## Normal Distribution

In [3]:
df = pd.read_csv('movie.csv')
df

     Unnamed: 0      Budget     Runtime  IMDB Rating  Genre
0             0  109.934283   98.769439     7.178894    0.0
1             1   97.234714  113.690320     7.280392    0.0
2             2  112.953771  114.859282     7.541526    0.0
3             3  130.460597  107.965841     7.526901    0.0
4             4   95.316933  117.580714     6.311165    0.0
..          ...         ...         ...          ...    ...
195         195   42.962365   95.389100     6.142989    1.0
196         196   24.302982   79.627538     6.311088    1.0
197         197   70.308086   88.096613     5.814865    1.0
198         198   48.281902   81.243817     6.188995    1.0
199         199   68.567245   76.172003     6.764110    1.0

[200 rows x 5 columns]

In [4]:
df['Genre'].unique()

array([0., 1.])

In [5]:
from sklearn.naive_bayes import GaussianNB
gau = GaussianNB()
gau.fit(df[['Budget','Runtime','IMDB Rating']],df['Genre'])

y_pred = gau.predict(df[['Budget','Runtime','IMDB Rating']])

## Evaluation

In [6]:
accurecy = accuracy_score(df['Genre'],y_pred)
accurecy

0.975

In [21]:
from sklearn.feature_extraction.text import CountVectorizer

documents = [
    "This cat sat on the mat",
    "This dog sat on the log",
    "The cat and the dog played together"
]

vector = CountVectorizer(binary=True)

In [22]:
X = vector.fit_transform(documents)

feature_names = vector.get_feature_names_out()



dense_matrix = X.toarray()

df = pd.DataFrame(dense_matrix,columns=vector.get_feature_names_out())
df

   and  cat  dog  log  mat  on  played  sat  the  this  together
0    0    1    0    0    1   1       0    1    1     1         0
1    0    0    1    1    0   1       0    1    1     1         0
2    1    1    1    0    0   0       1    0    1     0         1

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import BernoulliNB

In [35]:
emails = [
    "Suresh, the party was a blast, thanks!",
    "Suresh, please let me know if you need the information",
    "win a free trip to dubai",
    "Suresh, can we schedule a meeting tomorrow?",
    "Hey mohan, can we get together to watch footbal game tomorrow?"
]

labels = [1,0,1,2,0]

In [29]:
# vector = CountVectorizer(binary=True)
# X = vector.fit_transform(emails)

# X_train,X_test,y_train,y_test = train_test_split(X,labels,test_size=0.25,random_state=42)

# model = BernoulliNB()
# model.fit(X_train,y_train)

# predictions = model.predict(X_test)

# predictions

In [37]:
vector = CountVectorizer(binary=False)
X = vector.fit_transform(emails)

X_train,X_test,y_train,y_test = train_test_split(X,labels,test_size=0.25,random_state=42)

model = MultinomialNB()
model.fit(X_train,y_train)

predictions = model.predict(X_test)

predictions

array([1, 2])

In [ ]:
text = """Hello this is a random sentence to test the model with random text data to see how it perfrms on unsen data and how well it can predict the labels of the text data (*&^*^) !@ """

In [51]:
import re
def preprocess_text(text):
    text = re.sub(r'[^\w\s]',' ',text)
    text = re.sub(r'[\d{1,1}]',' ',text) 

    return text

In [52]:
cleaned_text = preprocess_text(text)
cleaned_text

'Hello this is a random sentence to test the model with random text data to see how it performs on unseen data and how well it can predict the labels of the text data            '

In [68]:
import nltk
nltk.download('punkt')
nltk.download('movie_reviews')

[nltk_data] Downloading package punkt to /home/codespace/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package movie_reviews to
[nltk_data]     /home/codespace/nltk_data...
[nltk_data]   Unzipping corpora/movie_reviews.zip.

True

In [69]:
from nltk.tokenize import word_tokenize, sent_tokenize

text = "This is a random sentence, This is the third random sentence."
print(sent_tokenize(text))
print(word_tokenize(text))

['This is a random sentence, This is the third random sentence.']
['This', 'is', 'a', 'random', 'sentence', ',', 'This', 'is', 'the', 'third', 'random', 'sentence', '.']

In [70]:
from nltk.corpus import movie_reviews
movie_reviews.fileids()[:5]

['neg/cv000_29416.txt',
 'neg/cv001_19502.txt',
 'neg/cv002_17424.txt',
 'neg/cv003_12683.txt',
 'neg/cv004_12641.txt']

In [72]:
len(movie_reviews.words())

1583820

In [73]:
movie_reviews.categories()

['neg', 'pos']

In [76]:
nltk.download('stopwords')
from nltk.corpus import stopwords
len(stopwords.words('chinese'))

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/codespace/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

841

In [77]:
len(movie_reviews.words('neg/cv000_29416.txt'))

879

In [78]:
movie_reviews.raw('neg/cv000_29416.txt')

'plot : two teen couples go to a church party , drink and then drive . \nthey get into an accident . \none of the guys dies , but his girlfriend continues to see him in her life , and has nightmares . \nwhat\'s the deal ? \nwatch the movie and " sorta " find out . . . \ncritique : a mind-fuck movie for the teen generation that touches on a very cool idea , but presents it in a very bad package . \nwhich is what makes this review an even harder one to write , since i generally applaud films which attempt to break the mold , mess with your head and such ( lost highway & memento ) , but there are good and bad ways of making all types of films , and these folks just didn\'t snag this one correctly . \nthey seem to have taken this pretty neat concept , but executed it terribly . \nso what are the problems with the movie ? \nwell , its main problem is that it\'s simply too jumbled . \nit starts off " normal " but then downshifts into this " fantasy " world in which you , as an audience member , have no idea what\'s going on . \nthere are dreams , there are characters coming back from the dead , there are others who look like the dead , there are strange apparitions , there are disappearances , there are a looooot of chase scenes , there are tons of weird things that happen , and most of it is simply not explained . \nnow i personally don\'t mind trying to unravel a film every now and then , but when all it does is give me the same clue over and over again , i get kind of fed up after a while , which is this film\'s biggest problem . \nit\'s obviously got this big secret to hide , but it seems to want to hide it completely until its final five minutes . \nand do they make things entertaining , thrilling or even engaging , in the meantime ? \nnot really . \nthe sad part is that the arrow and i both dig on flicks like this , so we actually figured most of it out by the half-way point , so all of the strangeness after that did start to make a little bit of sense , but it still didn\'t the make the film all that more entertaining . \ni guess the bottom line with movies like this is that you should always make sure that the audience is " into it " even before they are given the secret password to enter your world of understanding . \ni mean , showing melissa sagemiller running away from visions for about 20 minutes throughout the movie is just plain lazy ! ! \nokay , we get it . . . there \nare people chasing her and we don\'t know who they are . \ndo we really need to see it over and over again ? \nhow about giving us different scenes offering further insight into all of the strangeness going down in the movie ? \napparently , the studio took this film away from its director and chopped it up themselves , and it shows . \nthere might\'ve been a pretty decent teen mind-fuck movie in here somewhere , but i guess " the suits " decided that turning it into a music video with little edge , would make more sense . \nthe actors are pretty good for the most part , although wes bentley just seemed to be playing the exact same character that he did in american beauty , only in a new neighborhood . \nbut my biggest kudos go out to sagemiller , who holds her own throughout the entire film , and actually has you feeling her character\'s unraveling . \noverall , the film doesn\'t stick because it doesn\'t entertain , it\'s confusing , it rarely excites and it feels pretty redundant for most of its runtime , despite a pretty cool ending and explanation to all of the craziness that came before it . \noh , and by the way , this is not a horror or teen slasher flick . . . it\'s \njust packaged to look that way because someone is apparently assuming that the genre is still hot with the kids . \nit also wrapped production two years ago and has been sitting on the shelves ever since . \nwhatever . . . skip \nit ! \nwhere\'s joblo coming from ? \na nightmare of elm street 3 ( 7/10 ) - blair witch 2 ( 7/10 ) - the crow ( 9/10 ) - the crow : salvation ( 4/10 ) - lost highway ( 10/10 ) - memento ( 10/10 ) - the others ( 9/10 ) - stir of echoes ( 8/10 ) \n'

In [83]:
file = open("nlp.txt", "r")

data = file.read().split("\n")
data = [data.split("\t") for data in data]
                
df = pd.DataFrame(data,columns=['text','label'])
df

                                                text     label
0  Congrats, You have won!! reply to our sms for ...      spam
1  Congrats! 1 year special cinema pass for 2 is ...      spam
2  I am pleased to tell you that you are awarded ...      spam
3                    Dont worry. I guess he is busy.  not spam
4                   Going for dinner. msg you later.  not spam
5       Ok, I will call you up when I get some cash.  not spam
6                                                         None

In [ ]:
vocab = [
]


for text in df['text']:
    vocab.extend(each, lower() )