In [2]:
import pandas as pd
import sklearn as sk
from sklearn.metrics import accuracy_score

## Normal Distribution

In [3]:
df = pd.read_csv('movie.csv')
df

     Unnamed: 0      Budget     Runtime  IMDB Rating  Genre
0             0  109.934283   98.769439     7.178894    0.0
1             1   97.234714  113.690320     7.280392    0.0
2             2  112.953771  114.859282     7.541526    0.0
3             3  130.460597  107.965841     7.526901    0.0
4             4   95.316933  117.580714     6.311165    0.0
..          ...         ...         ...          ...    ...
195         195   42.962365   95.389100     6.142989    1.0
196         196   24.302982   79.627538     6.311088    1.0
197         197   70.308086   88.096613     5.814865    1.0
198         198   48.281902   81.243817     6.188995    1.0
199         199   68.567245   76.172003     6.764110    1.0

[200 rows x 5 columns]

In [4]:
df['Genre'].unique()

array([0., 1.])

In [5]:
from sklearn.naive_bayes import GaussianNB
gau = GaussianNB()
gau.fit(df[['Budget','Runtime','IMDB Rating']],df['Genre'])

y_pred = gau.predict(df[['Budget','Runtime','IMDB Rating']])

## Evaluation

In [6]:
accurecy = accuracy_score(df['Genre'],y_pred)
accurecy

0.975

In [21]:
from sklearn.feature_extraction.text import CountVectorizer

documents = [
    "This cat sat on the mat",
    "This dog sat on the log",
    "The cat and the dog played together"
]

vector = CountVectorizer(binary=True)

In [22]:
X = vector.fit_transform(documents)

feature_names = vector.get_feature_names_out()



dense_matrix = X.toarray()

df = pd.DataFrame(dense_matrix,columns=vector.get_feature_names_out())
df

   and  cat  dog  log  mat  on  played  sat  the  this  together
0    0    1    0    0    1   1       0    1    1     1         0
1    0    0    1    1    0   1       0    1    1     1         0
2    1    1    1    0    0   0       1    0    1     0         1

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import BernoulliNB

In [35]:
emails = [
    "Suresh, the party was a blast, thanks!",
    "Suresh, please let me know if you need the information",
    "win a free trip to dubai",
    "Suresh, can we schedule a meeting tomorrow?",
    "Hey mohan, can we get together to watch footbal game tomorrow?"
]

labels = [1,0,1,2,0]

In [29]:
# vector = CountVectorizer(binary=True)
# X = vector.fit_transform(emails)

# X_train,X_test,y_train,y_test = train_test_split(X,labels,test_size=0.25,random_state=42)

# model = BernoulliNB()
# model.fit(X_train,y_train)

# predictions = model.predict(X_test)

# predictions

In [37]:
vector = CountVectorizer(binary=False)
X = vector.fit_transform(emails)

X_train,X_test,y_train,y_test = train_test_split(X,labels,test_size=0.25,random_state=42)

model = MultinomialNB()
model.fit(X_train,y_train)

predictions = model.predict(X_test)

predictions

array([1, 2])

In [ ]:
text = """Hello this is a random sentence to test the model with random text data to see how it perfrms on unsen data and how well it can predict the labels of the text data (*&^*^) !@ """

In [51]:
import re
def preprocess_text(text):
    text = re.sub(r'[^\w\s]',' ',text)
    text = re.sub(r'[\d{1,1}]',' ',text) 

    return text

In [52]:
cleaned_text = preprocess_text(text)
cleaned_text

'Hello this is a random sentence to test the model with random text data to see how it performs on unseen data and how well it can predict the labels of the text data            '